{{!-- section 1: basics --}}
<section id='section-1'>
	<h3>
		Basic Information
	</h3>

	<div>
		<label for='name'>
			Name
		</label><br />
		<input type='text' name='name' id='name' oninput='updateSlug()' />
	</div>

	<div>
		<label for='slug'>
			Slug
		</label><br />
		<input type='text' name='slug' id='slug' readonly />
	</div>

	<div>
		<label for='level'>
			Level
		</label><br />
		<input type='number' name='level' id='level' min='0' max='9' />
	</div>

	<div>
		<label for='school'>
			School of Magic
		</label><br />
		<select name='school' id='school'>
			<optgroup label='select a school:'>
				<option disabled hidden selected />
				<option label='abjuration' value='abjuration' />
				<option label='conjuration' value='conjuration' />
				<option label='divination' value='divination' />
				<option label='enchantment' value='enchantment' />
				<option label='evocation' value='evocation' />
				<option label='illusion' value='illusion' />
				<option label='necromancy' value='necromancy' />
				<option label='transmutation' value='transmutation' />
			</optgroup>
		</select>
	</div>
</section>

{{!-- section 2: temporals --}}
<section id='section-2'>
	<h3>
		Temporal Features
	</h3>

	<fieldset id='cast-time'>
		<legend>
			Casting Time
		</legend>

		<div>
			<input type='radio' name='cast-time.quality' id='cast-time-action' value='action' />
			<label for='cast-time-action'>
				action
			</label>
		</div>

		<div>
			<input type='radio' name='cast-time.quality' id='cast-time-bonus' value='bonus' />
			<label for='cast-time-bonus'>
				bonus action
			</label>
		</div>

		<div>
			<input type='radio' name='cast-time.quality' id='cast-time-reaction' value='reaction' />
			<label for='cast-time-reaction'>
				reaction
			</label>
		</div>

		<div>
			{{!-- the value of this radio button should equal the value of the input number --}}
			{{!-- also the duration input should be disabled unless the radio button is checked --}}
			<input type='radio' name='cast-time.quality' id='cast-time-discrete' value='discrete' />
			<input type='number' name='cast-time.seconds' id='cast-time-seconds' min='0' max='999999' placeholder='seconds' disabled />
		</div>
	</fieldset>

	<fieldset id='duration'>
		<legend>
			Duration
		</legend>

		<div>
			<input type='radio' name='duration.quality' id='duration-instantaneous' value='instantaneous' />
			<label for='duration-instantaneous'>
				instantaneous
			</label>
		</div>

		<div>
			<input type='radio' name='duration.quality' id='duration-indefinate' value='indefinate' />
			<label for='duration-indefinate'>
				indefinate
			</label>
		</div>

		<div>
			<input type='radio' name='duration.quality' id='duration-provoked' value='provoked' />
			<label for='duration-provoked'>
				provoked
			</label>
		</div>

		<div>
			{{!-- the value of this radio button should equal the value of the input number --}}
			{{!-- also the duration input should be disabled unless the radio button is checked --}}
			<input type='radio' name='duration.quality' id='duration-discrete' value='discrete' />
			<input type='number' name='duration.seconds' id='duration-seconds' min='0' max='999999' placeholder='seconds' disabled />
		</div>
	</fieldset>
</section>

{{!-- section 3: spacials --}}
<section id='section-3'>
	<h3>
		Spacial Features
	</h3>

	<div>
		<label for='instances'>
			Instances
		</label><br />
		<input type='number' name='instances' id='instances' min='0' max='999999' />
	</div>

	<fieldset id='range'>
		<legend>
			Range
		</legend>

		<div>
			<input type='radio' name='range.quality' id='range-self' value='self' />
			<label for='range-self'>
				self
			</label>
		</div>

		<div>
			<input type='radio' name='range.quality' id='range-touch' value='touch' />
			<label for='range-touch'>
				touch
			</label>
		</div>

		<div>
			<input type='radio' name='range.quality' id='range-unlimited' value='unlimited' />
			<label for='range-unlimited'>
				unlimited
			</label>
		</div>

		<div>
			{{!-- the value of this radio button should equal the value of the input number --}}
			{{!-- also the range input should be disabled unless the radio button is checked --}}
			<input type='radio' name='range.quality' id='range-discrete' value='discrete' />
			<input type='number' name='range.feet' id='range-feet' min='0' max='999999' placeholder='feet' disabled />
		</div>
	</fieldset>

	<div>
		<label for='area-shape'>
			Effect Shape
		</label><br />

		<select name='area.shape' id='area-shape'>
			<optgroup label='select a shape:'>
				<option disabled hidden selected />
				<option label='point' value='point' />
				<option label='sphere' value='sphere' />
				<option label='aura' value='aura' />
				<option label='cone' value='cone' />
				<option label='cube' value='cube' />
				<option label='line' value='line' />
				<option label='wall' value='wall' />
				<option label='cylinder' value='cylinder' />
			</optgroup>
		</select>
	</div>

	<fieldset id='area'>
		<legend>
			Effect Size
		</legend>

		<div>
			<label for='area-radius'>
				Radius
			</label><br />
			<input type='number' name='area.radius' id='area-radius' min='0' max='999999' placeholder='feet' disabled />
		</div>

		<div>
			<label for='area-length'>
				Length
			</label><br />
			<input type='number' name='area.length' id='area-length' min='0' max='999999' placeholder='feet' disabled />
		</div>

		<div>
			<label for='area-width'>
				Width
			</label><br />
			<input type='number' name='area.width' id='area-width' min='0' max='999999' placeholder='feet' disabled />
		</div>

		<div>
			<label for='area-height'>
				Height
			</label><br />
			<input type='number' name='area.height' id='area-height' min='0' max='999999' placeholder='feet' disabled />
		</div>
	</fieldset>
</section>

{{!-- section 4: components --}}
<section id='section-4'>
	<h3>
		Tags &amp; Components
	</h3>

	<fieldset id='tags'>
		<legend>
			Spell Tags
		</legend>

		<div>
			<input type='checkbox' name='tags' id='tags-ritual' value='ritual' />
			<label for='tags-ritual'>
				ritual
			</label>
		</div>

		<div>
			<input type='checkbox' name='tags' id='tags-concentration' value='concentration' />
			<label for='tags-concentration'>
				concentration
			</label>
		</div>

		<div>
			<input type='checkbox' name='tags' id='tags-verbal' value='verbal' />
			<label for='tags-verbal'>
				verbal
			</label>
		</div>

		<div>
			<input type='checkbox' name='tags' id='tags-somatic' value='somatic' />
			<label for='tags-somatic'>
				somatic
			</label>
		</div>

		<div>
			<input type='checkbox' name='tags' id='tags-material' value='material' />
			<label for='tags-material'>
				material
			</label>
		</div>
	</fieldset>

	<fieldset id='components'>
		<legend>
			Component Details
		</legend>
		<div>
			<label for='components-verbal'>
				Verbal Components
			</label><br />
			<textarea name='components.verbal' id='components-verbal' disabled></textarea>
		</div>
		<div>
			<label for='components-somatic'>
				Somatic Components
			</label><br />
			<textarea name='components.somatic' id='components-somatic' disabled></textarea>
		</div>
		<div>
			<label for='components-material'>
				Material Components
			</label><br />
			<textarea name='components.material' id='components-material' disabled></textarea>
		</div>
	</fieldset>
</section>

{{!-- section 5: body text --}}
<section id='section-5'>
	<h3>
		Body Text
	</h3>

	<div>
		<label for='description-main'>
			Description
		</label><br />
		<textarea name='description.main' id='description-main'></textarea>
	</div>

	<div>
		<label for='description-higher'>
			At Higher Levels
		</label><br />
		<textarea name='description.higher' id='description-higher'></textarea>
	</div>
</section>

{{!-- section 6: availability --}}
<section id='section-6'>
	<h3>
		Availability
	</h3>

	<fieldset id='class-spells'>
		<legend>
			Class Spell Lists
		</legend>

		{{#each EveryClass}}
			<div>
				<input type='checkbox' name='class' id='class-{{this.slug}}' value='{{this._id}}' />
				<label for='class-{{this.slug}}'>
					{{this.name}}
				</label>
			</div>
		{{/each}}
	</fieldset>
	<fieldset id='race-spells'>
		<legend>
			Race Spell Lists
		</legend>

		{{#each EveryRace}}
			<div>
				<input type='checkbox' name='race' id='race-{{this.slug}}' value='{{this._id}}' />
				<label for='race-{{this.slug}}'>
					{{this.name}}
				</label>
			</div>
		{{/each}}
	</fieldset>
</section>

{{!-- section 7: citations --}}
<section id='section-7'>
	<h3>
		Citations
	</h3>

	<fieldset id='parent'>
		<legend>
			Source References
		</legend>

		{{#each EverySource}}
			<div>
				<input type='checkbox' name='parent.source' id='parent-source-{{this.slug}}' value='{{this._id}}' />
				<input type='number' name='parent.page' id='parent-page-{{this.slug}}' min='0' max='999999' placeholder='page' />
				<label for='parent-source-{{this.slug}}'>
					{{this.name}}
				</label>
			</div>
		{{/each}}
	</fieldset>

	<fieldset id='carbon-copy'>
		<legend>
			Carbon Copies
		</legend>

		{{#each EverySpell}}
			<div>
				<input type='checkbox' name='carbon-copy.spell' id='carbon-copy-{{this.slug}}' value='{{this._id}}' />
				<label for='carbon-copy-{{this.slug}}'>
					{{this.name}}
				</label>
			</div>
		{{/each}}
	</fieldset>
</section>

<hr />

<a href='#'>Previous</a>
<a href='#'>Next</a>
<button type='submit'>
	Submit
</button>
