<h2>
	{{spell.name}}
</h2>
<h4>
	Spell ID: {{spell._id}}
</h4>
<h4>
	Source IDs: {{spell.parent.source}}
</h4>
{{!--
Cantrip-level
1st
2nd
3rd
Nth
--}}
<div>
	<div>
		<em>
			{{#ifeq spell.level '0'}}
			Cantrip-level
			{{/ifeq}}
			{{#ifeq spell.level '1'}}
			{{@root.spell.level}}st-level
			{{/ifeq}}
			{{#ifeq spell.level '2'}}
			{{@root.spell.level}}nd-level
			{{/ifeq}}
			{{#ifeq spell.level '3'}}
			{{@root.spell.level}}rd-level
			{{/ifeq}}
			{{#ifeq spell.level '4'}}
			{{@root.spell.level}}th-level
			{{/ifeq}}
			{{#ifeq spell.level '5'}}
			{{@root.spell.level}}th-level
			{{/ifeq}}
			{{#ifeq spell.level '6'}}
			{{@root.spell.level}}th-level
			{{/ifeq}}
			{{#ifeq spell.level '7'}}
			{{@root.spell.level}}th-level
			{{/ifeq}}
			{{#ifeq spell.level '8'}}
			{{@root.spell.level}}th-level
			{{/ifeq}}
			{{#ifeq spell.level '9'}}
			{{@root.spell.level}}th-level
			{{/ifeq}} {{spell.school}}
		</em>
		{{!-- what an ugly thing! --}}
		{{!-- TODO: this is in dire need of refactor --}}
	</div>
	<div>
		<strong>Casting Time:</strong>
		{{#if spell.cast-time.seconds}}
		{{spell.cast-time.seconds}} seconds
		{{else}}
		{{spell.cast-time.quality}}
		{{/if}}
	</div>
	<div>
		<Strong>Duration:</Strong>
		{{#if spell.duration.seconds}}
		{{spell.duration.seconds}} seconds
		{{else}}
		{{spell.duration.quality}}
		{{/if}}
	</div>
	<div>
		<Strong>Casting Range:</Strong>
		{{#if spell.range.feet}}
		{{spell.range.feet}} feet
		{{else}}
		{{spell.range.quality}}
		{{/if}}
	</div>

	{{#ifeq spell.area.shape 'aura'}}
	<div>
		<Strong>Area of Effect:</Strong>
		{{@root.spell.area.radius}}-foot-radius aura
	</div>
	{{/ifeq}}

	{{#ifeq spell.area.shape 'sphere'}}
	<div>
		<Strong>Area of Effect:</Strong>
		{{@root.spell.area.radius}}-foot-radius sphere
	</div>
	{{/ifeq}}

	{{#ifeq spell.area.shape 'cone'}}
	<div>
		<Strong>Area of Effect:</Strong>
		{{@root.spell.area.radius}}-foot-radius cone
	</div>
	{{/ifeq}}

	{{#ifeq spell.area.shape 'cube'}}
	<div>
		<Strong>Area of Effect:</Strong>
		{{@root.spell.area.length}}-foot-long cube
	</div>
	{{/ifeq}}

	{{#ifeq spell.area.shape 'line'}}
	<div>
		<Strong>Area of Effect:</Strong>
		{{@root.spell.area.width}}-foot-wide by {{@root.spell.area.length}}-foot-long line
	</div>
	{{/ifeq}}

	{{#ifeq spell.area.shape 'wall'}}
	<div>
		<Strong>Area of Effect:</Strong>
		{{@root.spell.area.length}}-foot-long wall or {{@root.spell.area.radius}}-foot-radius ring, {{@root.spell.area.width}}-foot-wide and {{@root.spell.area.height}}-foot-tall.
	</div>
	{{/ifeq}}

	{{#ifeq spell.area.shape 'cylinder'}}
	<div>
		<Strong>Area of Effect:</Strong>
		{{@root.spell.area.radius}}-foot-radius, {{@root.spell.area.height}}-foot-high cylinder
	</div>
	{{/ifeq}}

	<div>
		<Strong>Spell Tags:</Strong>
		{{#each spell.tags}}
		{{this}}
		{{/each}}
	</div>
	<div>
		<Strong>Components:</Strong>
		{{spell.component.verbal}}
		{{spell.component.somatic}}
		{{spell.component.material}}
	</div>
</div>
<hr />

<h4>Description:</h4>
<p>{{spell.description.main}}</p>

<h4>At Higher Levels:</h4>
<p>{{spell.description.higher}}</p>
{{!--
<div>
	<div>
		<Strong>Classes:</Strong>
		{{#each spell.class}}
		{{this}},
		{{/each}}
	</div>
	<div>
		<Strong>Subclasses:</Strong>
		{{#each spell.subclass}}
		{{this}},
		{{/each}}
	</div>
	<div>
		<Strong>Races:</Strong>
		{{#each spell.race}}
		{{this}},
		{{/each}}
	</div>
	<div>
		<Strong>Subraces:</Strong>
		{{#each spell.subrace}}
		{{this}},
		{{/each}}
	</div>
	<div>
		<Strong>Sources:</Strong>
		{{#each spell.source}}
		{{this}},
		{{/each}}
	</div>
	<div>
		<Strong>References:</Strong>
		{{#each spell.reference.spell}}
		{{this}},
		{{/each}}
	</div>
</div> --}}

<hr />

<h3>Lazy Output</h3>
<samp>{{spell}}</samp>

<hr />

<h2>
	Options
</h2>
<a href='/spells/{{spell._id}}/edit'>Edit</a>
<form action='/spells/{{spell._id}}?_method=DELETE' method='post'><button>Delete</button></form>