<h2>Create a New Spell</h2>

<form action='/spells' method='POST'>

	<div>
		<section>
			<h3>
				Section 1
			</h3>

			<div>
				<label for='name'>
					Name
				</label><br />
				<input type='text' name='name' id='name' onkeyup='updateSlug()' onchange='updateSlug()' />
			</div>

			<div>
				<label for='slug'>
					Slug
				</label><br />
				<input type='text' name='slug' id='slug' readonly />
			</div>

			<div>
				<label for='level'>
					Level
				</label><br />
				<input type='number' name='level' id='level' min='0' max='9' placeholder='Lv.' />
			</div>

			<div>
				<label for='school'>
					School of Magic
				</label><br />
				<select name='school' id='school'>
					<option disabled hidden selected />
					{{!-- checkmark starts by unselected option, looks bad! --}}
					<option label='abjuration' value='abjuration' />
					<option label='conjuration' value='conjuration' />
					<option label='divination' value='divination' />
					<option label='enchantment' value='enchantment' />
					<option label='evocation' value='evocation' />
					<option label='illusion' value='illusion' />
					<option label='necromancy' value='necromancy' />
					<option label='transmutation' value='transmutation' />
				</select>
			</div>
		</section>

		<section>
			<h3>
				Section 2
			</h3>

			<fieldset id='cast-time' onchange='disableCastTimeNum()'>
				<legend>
					Casting Time
				</legend>
				<div>
					<input type='radio' name='cast-time.quality' id='cast-time-action' value='action' />
					<label for='cast-time-action'>
						action
					</label>
				</div>

				<div>
					<input type='radio' name='cast-time.quality' id='cast-time-bonus' value='bonus' />
					<label for='cast-time-bonus'>
						bonus action
					</label>
				</div>

				<div>
					<input type='radio' name='cast-time.quality' id='cast-time-reaction' value='reaction' />
					<label for='cast-time-reaction'>
						reaction
					</label>
				</div>

				<div>
					{{!-- the value of this radio button should equal the value of the input number --}}
					{{!-- also the duration input should be disabled unless the radio button is checked --}}
					<input type='radio' name='cast-time.quality' id='cast-time-discrete' value='discrete' />
					<input type='number' name='cast-time.seconds' id='cast-time-seconds' min='0' max='999999' placeholder='seconds' disabled />
					{{!-- min means minimum, max means maximimum, time unit is in seconds --}}
				</div>
			</fieldset>

			<fieldset id='duration' onchange='disableDurationNum()'>
				<legend>
					Duration
				</legend>
				<div>
					<input type='radio' name='duration.quality' id='duration-instantaneous' value='instantaneous' />
					<label for='duration-instantaneous'>
						instantaneous
					</label>
				</div>

				<div>
					<input type='radio' name='duration.quality' id='duration-indefinate' value='indefinate' />
					<label for='duration-indefinate'>
						indefinate
					</label>
				</div>

				<div>
					<input type='radio' name='duration.quality' id='duration-provoked' value='provoked' />
					<label for='duration-provoked'>
						provoked
					</label>
				</div>

				<div>
					{{!-- the value of this radio button should equal the value of the input number --}}
					{{!-- also the duration input should be disabled unless the radio button is checked --}}
					<input type='radio' name='duration.quality' id='duration-discrete' value='discrete' />
					<input type='number' name='duration.seconds' id='duration-seconds' min='0' max='999999' placeholder='seconds' disabled />
				</div>
			</fieldset>
		</section>

		<section>
			<h3>
				Section 3
			</h3>

			<div>
				<label for='instances'>
					Number of Instances
				</label><br />
				<input type='number' name='instances' id='instances' min='0' max='999999' />
			</div>

			<fieldset id='range' onchange='disableRangeNum()'>
				<legend>
					Range
				</legend>

				<div>
					<input type='radio' name='range.quality' id='range-self' value='self' />
					<label for='range-self'>
						self
					</label>
				</div>

				<div>
					<input type='radio' name='range.quality' id='range-touch' value='touch' />
					<label for='range-touch'>
						touch
					</label>
				</div>

				<div>
					<input type='radio' name='range.quality' id='range-unlimited' value='unlimited' />
					<label for='range-unlimited'>
						unlimited
					</label>
				</div>

				<div>
					{{!-- the value of this radio button should equal the value of the input number --}}
					{{!-- also the range input should be disabled unless the radio button is checked --}}
					<input type='radio' name='range.quality' id='range-discrete' value='discrete' />
					<input type='number' name='range.feet' id='range-feet' min='0' max='999999' placeholder='feet' disabled />
				</div>
			</fieldset>

			<div>
				<label for='area-shape'>
					Effect Shape
				</label><br />
				<select name='area.shape' id='area-shape' onchange="disableAreaNums()">
					<option label='' disabled hidden selected />
					<option label='point' value='point' />
					<option label='sphere' value='sphere' />
					<option label='aura' value='aura' />
					<option label='cone' value='cone' />
					<option label='cube' value='cube' />
					<option label='line' value='line' />
					<option label='wall' value='wall' />
					<option label='cylinder' value='cylinder' />
				</select>
			</div>

			<fieldset id='area'>
				<legend>
					Effect Size
				</legend>

				<div>
					<label for='area-radius'>
						Radius
					</label><br />
					<input type='number' name='area.radius' id='area-radius' min='0' max='999999' placeholder='feet' disabled />
				</div>

				<div>
					<label for='area-length'>
						Length
					</label><br />
					<input type='number' name='area.length' id='area-length' min='0' max='999999' placeholder='feet' disabled />
				</div>

				<div>
					<label for='area-width'>
						Width
					</label><br />
					<input type='number' name='area.width' id='area-width' min='0' max='999999' placeholder='feet' disabled />
				</div>

				<div>
					<label for='area-height'>
						Height
					</label><br />
					<input type='number' name='area.height' id='area-height' min='0' max='999999' placeholder='feet' disabled />
				</div>
			</fieldset>
		</section>

		<section>
			<h3>
				Section 4
			</h3>

			<fieldset id='tags'>
				<legend>
					Spell Tags
				</legend>
				<div>
					<input type='checkbox' name='tags' id='tags-ritual' value='ritual' />
					<label for='tags-ritual'>
						ritual
					</label>
				</div>

				<div>
					<input type='checkbox' name='tags' id='tags-concentration' value='concentration' />
					<label for='tags-concentration'>
						concentration
					</label>
				</div>

				<div>
					<input type='checkbox' name='tags' id='tags-verbal' value='verbal' onchange="disableComponents()" />
					<label for='tags-verbal'>
						verbal
					</label>
				</div>

				<div>
					<input type='checkbox' name='tags' id='tags-somatic' value='somatic' onchange="disableComponents()" />
					<label for='tags-somatic'>
						somatic
					</label>
				</div>

				<div>
					<input type='checkbox' name='tags' id='tags-material' value='material' onchange="disableComponents()" />
					<label for='tags-material'>
						material
					</label>
				</div>
			</fieldset>

			<fieldset id='component'>
				{{!-- this entire div should appear only when tags-material checkbox is on --}}
				{{!-- later versions of this app will have a more in-depth material field --}}
				<legend>
					Component Details
				</legend>
				<div>
					<label for='component-verbal'>
						Verbal Components
					</label><br />
					<textarea name='component.verbal' id='component-verbal' disabled></textarea>
				</div>
				<div>
					<label for='component-somatic'>
						Somatic Components
					</label><br />
					<textarea name='component.somatic' id='component-somatic' disabled></textarea>
				</div>
				<div>
					<label for='component-material'>
						Material Components
					</label><br />
					<textarea name='component.material' id='component-material' disabled></textarea>
				</div>
			</fieldset>
		</section>

		<section>
			<h3>
				Section 5
			</h3>

			<div>
				<label for='description-main'>
					Description
				</label><br />
				<textarea name='description.main' id='description-main'></textarea>
			</div>

			<div>
				<label for='description-higher'>
					At Higher Levels
				</label><br />
				<textarea name='description.higher' id='description-higher'></textarea>
			</div>
		</section>

		<section>
			<h3>
				Section 6
			</h3>

			{{!-- this section clearly needs some love --}}
			{{!-- might need to add a class resource to reference --}}
			<fieldset id='class'>
				<legend>
					Classes
				</legend>

				<div>
					<input type='checkbox' name='class' id='class-cleric' value='cleric' />
					<label for='class-cleric'>
						cleric
					</label>
				</div>
		</section>

		<section>
			<h3>
				Section 7
			</h3>

			<fieldset id='parent-source'>
				<legend>
					Parent Sources
				</legend>
				{{#each source}}
				<div>
					<input type='checkbox' name='parent.source' id='parent-source-{{this.slug}}' value='{{this._id}}' />
					<label for='parent-source-{{this.slug}}'>
						{{this.name}}
					</label>
				</div>
				{{/each}}
			</fieldset>

			<fieldset id='parent-page'>
				<legend>
					Source Citations
				</legend>
				{{#each source}}
				<div>
					<label for='parent-page-{{this.slug}}'>
						{{this.name}}
					</label><br />
					<input type='number' name='parent.page' id='parent-page-{{this.slug}}' placeholder='page' min='0' max='999999' />
				</div>
				{{/each}}
				</legend>
			</fieldset>

			<fieldset id='reference'>
				<legend>
					Reference Spells
				</legend>
				{{#each spell}}
				<div>
					<input type='checkbox' name='reference.spell' id='reference-{{this.slug}}' value='{{this._id}}' />
					<label for='reference-{{this.slug}}'>
						{{this.name}}
					</label>
				</div>
				{{/each}}
				{{!-- Should only be able to reference spells that are not in the same book nor in a book that is within a source citation chain --}}
				{{!-- Also this isn't the best way to present this visually - needs a refactor --}}
			</fieldset>
		</section>
	</div>

	<a href='#'>
		Next
	</a>
	<a href='#'>
		Previous
	</a>
	<button type='submit'>
		Submit
	</button>
</form>

<script src='/js/spell-new.js'></script>