<h2>New Spell</h2>

<form action='/spells' method='POST'>
	<div>
		<label for='name'>
			Name
		</label><br />
		<input type='text' name='name' id='name' oninput='updateSlug()' />
	</div>

	<div>
		<label for='slug'>
			Slug
		</label><br />
		<input type='text' name='slug' id='slug' readonly />
	</div>

	<div>
		<label for='level'>
			Level
		</label><br />
		<input type='number' name='level' id='level' min='0' max='9' placeholder='Lv.' />
	</div>

	<div>
		<label for='school'>
			School of Magic
		</label><br />
		<select name='school' id='school'>
			<optgroup label='select a school:'>
				<option disabled hidden selected />
				<option label='abjuration' value='abjuration' />
				<option label='conjuration' value='conjuration' />
				<option label='divination' value='divination' />
				<option label='enchantment' value='enchantment' />
				<option label='evocation' value='evocation' />
				<option label='illusion' value='illusion' />
				<option label='necromancy' value='necromancy' />
				<option label='transmutation' value='transmutation' />
			</optgroup>
		</select>
	</div>

	<div>
		<label for='description-prime'>
			Description
		</label><br />
		<textarea name='description.prime' id='description-prime'></textarea>
	</div>

	<div>
		<label for='description-bonus'>
			Bonus at Higher Levels
		</label><br />
		<textarea name='description.bonus' id='description-bonus'></textarea>
	</div>

	<fieldset id='original-spells'>
		<legend>
			Original Spells
		</legend>
		{{#each EverySpell}}
			<div>
				<input type='checkbox' name='original.spells' id='original-spell-{{this.slug}}' value='{{this._id}}' />
				<label for='original-spell-{{this.slug}}'>
					{{this.name}}
				</label>
			</div>
		{{/each}}
	</fieldset>


	<fieldset id='citations'>
		<legend>
			Citations
		</legend>

		<div id='citations-0'>
			<button type='button' id='citations-0-delete' onclick='deleteCitation(this.id)'>
				<code>&minus;</code>
			</button>

			<select name='citations.0.source' id='citations-0-source'>
				<optgroup label='select a source:'>
					<option disabled hidden selected />
					{{#each EverySource}}
						<option label='{{this.name}}' value='{{this._id}}' />
					{{/each}}
				</optgroup>
			</select>

			<input type="number" name='citations.0.page' id='citations-0-page' min='0' max='999999' placeholder='page' />
		</div>

		<div>
			<button type='button' id='citations-create' onclick='createCitation(this.id)'>
				<code>&plus;</code>
			</button>
		</div>

	</fieldset>

	<button type='submit'>
		Submit
	</button>
</form>

<hr />

<h4>every spell</h4>
<pre><code>{{EverySpell}}</code></pre>

<h4>every source</h4>
<pre><code>{{EverySource}}</code></pre>

<script type='text/javascript' src='/js/spell-new.js' defer></script>
